{{!--

 Copyright 2016 LinkedIn Corp.

 Licensed under the Apache License, Version 2.0 (the "License"); you may not
 use this file except in compliance with the License. You may obtain a copy of
 the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 License for the specific language governing permissions and limitations under
 the License.

--}}

<ul id="myTab" class="nav nav-tabs" role="tablist">

    <li id="all" class="active"><a class="single-tab" role="tab"
                                   data-toggle="tab" {{action (action setTab null)}}><label>All</label></a></li>

  {{#each usernames as |username|}}
      <li><a role="tab" class="single-tab" {{action (action setTab username)}}
             data-toggle="tab" id="{{username}}">{{single-tab name=username deleteTab=(action deleteTab)}}</a></li>
  {{/each}}


    <li class="input-user-li">
      {{#if showInputBox}}
        {{input id="user-input" action=addTab action="resetInput" placeholder="Add user" class="input-user" valueBinding="newUser" value=""  autofocus="true"}}
      {{/if}}

        <button {{action 'showInput'}} class="glyphicon glyphicon-plus input-user-button"></button>
          {{#tooltip-on-element}}
            Add a new user
          {{/tooltip-on-element}}
    </li>

</ul>